@font-face {
    font-family: handlee;
    src: url(Fonts/Handlee-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #ffffff;
}

header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),  url('Images/Image3.jpg');
    /* Replace with your header background image */
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: handlee;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #180a0a;
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.2s;
}

.topnav {
    background-color: #180a0a;
    overflow: hidden;
    top: 0;
    position: relative;
    width: 100%;
    z-index: 1000;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.2s;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #739072;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.logoiium{
    height: auto;
    left: 0px;
    width: 45px;
    z-index: -1;
  }


.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #729571;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #83c280;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 5;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

div {
    background-size: cover;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(250, 238, 209, 0.8);
}

.item {
    height: 50vh;
    margin: 0.5em 0;
    text-align: center;
}

#cafe {
    background-image: url("Images/Image1.jpg");
    background-position: bottom;
}

#mosque {
    background-image: url("Images/mosque.jpg");
    background-position: bottom;
}

#laundry {
    background-image: url("Images/laundry.jpg");
}

#basketball {
    background-image: url("Images/basketball.jpg");
}

#store {
    background-image: url("Images/store.jpg");
}

.description {
    position: relative;
    visibility: visible;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
    font-size: xx-large;
    color: #000000;
    background-color: rgba(210, 227, 200, 0.5);
}

.hovertext {
    visibility: hidden;
    font-size: x-large;
    color: #000000;
}

footer {
    background-color: #180a0a;
    color: #fff;
    text-align: center;
    padding: 20px;
}


@media (max-width: 612px) {
    .topnav {
        display: grid;
        grid-template-areas:
        "logo home drop news"
        ". contact facilities ."
        ;
    } 

    #facilities{
        grid-area: facilities;
    }

    #contact{
        grid-area: contact;
    }

    #news{
        grid-area: news;
    }

    #drop{
        grid-area: drop;
    }

    #home{
        grid-area: home;
    }

    .logo{
        grid-area: logo;
    }

    .dropdown{
        text-align: center;
    }

    .dropdown-content a {
        text-align: center;
    }
}
