html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('Images/homepagebg.jpg') center/cover no-repeat;
    color: #fff;
    min-height: 100%;
}

.topnav {
    background-color: #180a0a;
    overflow: hidden;
    top: 0;
    width: 100%;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.2s; 
}

.topnav a:hover {
    background-color: #739072;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.logoiium {
    position: fixed;
    height: auto;
    left: 0px;
    width: 45px;
    z-index: 1; 
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #729571;
}

.dropdown-content {
    display: none;
    position: absolute; 
    background-color: #83c280;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 5;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-content {
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 2;
}

.welcome-text {
    color: #D2E3C8;
    font-style: italic;
    font-family: 'Times New Roman';
    font-size: 40px;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.welcome-title {
    font-weight: bold;
    font-size: 100px;
    color: #86A789;
    font-family: Impact;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}

.text-box {
    padding: 20px; 
    text-align: center;
    width: 700px;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.button-container {
    display: flex;
    align-items: center;
}

.custom-button {
    display: inline-block;
    background-color: #86A789;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family:'Times New Roman', Times, serif;
}

.custom-button:hover {
    background-color: #5F8C6E;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.custom-image {
    max-width: 100%;
    height: auto;
    margin: 0 10px; 
    
}

