*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Space Grotesk', sans-serif;

}


.section1{
    width: 100%;
    height: 500px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #180a0a;
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.2s;
    
    
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #729571;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .logoiium{
    position: fixed;
    height: auto;
    left: 0px;
    width: 45px;
  }

  footer {
	background-color: #180a0a;
	color: #fff;
	text-align: center;
	padding: 20px;
  }

  .dropdown {
	float: right;
	overflow: hidden;
  }
  
  .dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color:#729571 ;
  }
  
  .dropdown-content {
	display: none;
	position: fixed;
	background-color: #83c280;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 9999;
  }
  
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	z-index: 5;
  }
  
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }

  footer {
    background-color: #180a0a;
    color: #fff;
    text-align: center;
    padding: 20px;
  }


  .section2{
    background: radial-gradient(#2a8633,#021d05);

  }

  .section2 .content{
  display: flex;
  align-items:flex-start;
  justify-content:center;
  flex-basis: 100%
;}

.card{
    background: #0e0808;
    padding: 0 20px;
    margin: 0 10px;
width: calc(33% -20px);
height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #fff;
}

.fas{
    font-size: 28px;
    background:#04AA6D;
    width: 60px;
    height: 60px;
text-align: center;
line-height: 60px;
border-radius: 50%;
transition: 0.4s linear;

}
.card:hover .fas{
    background: none;
    color: #04AA6D;
    transform: scale(1.6);
}

.card p{
    margin-top: 1px;
    font-weight: 300;
letter-spacing: 1px;
max-height: 0;
opacity: 0;
transition: 0.4 linear;
}

.card:hover p{
    max-height: 20px;
    opacity: 1;
}