* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

/*Header, nav and find out more button*/
.topnav {
    background-color: #180a0a;
    overflow: hidden;
    top: 0;
    position: relative;
    width: 100%;
    z-index: 1000;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.2s;

}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #739072;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.logo {
    height: 50px;
    /* Adjust this to fit your logo size */
}


.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #729571;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #83c280;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 5;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header {
    position: relative;
    width: 100%;
    min-height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/Images/Image6.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 10%;
}

.topcontent {
    width: 90%;
    position: absolute;
    top: 20%;
    left: 60%;
    color: white;
    transform: translate(-50%, -50%);
    text-align: left;
}



.topcontent h1 {
    font-size: 70px;
    padding-top: 300px;
    font-weight: 700;
    font-family: 'Handlee';
}



.topcontent h2 {
    padding-top: 30px;
    color: #86A789;
    font-size: 50px;


}

.details-btn {
    display: inline-block;
    width: 200px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 1px solid #86A789;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.details-btn:hover {
    border: 1px solid transparent;
    background: white;
    color: #86A789;
    transition: 1s;
}

.header-vid {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translateX(50%);
    z-index: 1000;
    background-color: black;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 50px;
}

.header-vid p {
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 3%;
    text-decoration: underline;
    font-size: 20px;

}


/*News And Announcement Section*/

.titlenews h1 {
    padding-top: 70px;
    padding-bottom: 40px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 0;
    color: black;
    background-color: #EBF3E8;
    font-family: 'Handlee';
    font-size: 40px;
    text-shadow: 2px 2px grey;
}


.flex-container {
    display: flex;
    background-color: #EBF3E8;
}


.leftcontent,
.slideshow {
    margin-bottom: 10%;
    background-color: #86A789;
    position: relative;
    height: 50%;
    width: 40%;
    border: 3px solid black;
    border-radius: 40px;
    padding-top: 10px;

}

.slideshow {
    background-color: #86A789;

}

.leftcontent {
    margin-left: 10%;
    margin-right: 10%;
    width: 15%;
    padding-left: 2%;
    padding-right: 3%;
    padding-bottom: 9%;

}


.slideshow {
    width: 60%;
    margin-right: 10%
}

.leftcontent h1,
.slideshow h1 {
    text-align: center;
    background-color: #86A789;
    color: white;
}

.leftcontent h2 {
    color: white;
    text-align: right;
    background-color: #86A789;
}



.miclogo {
    width: 50%;
    height: 50%;
    margin-left: 26%;


}

.mySlides {

    background-color: #86A789;
    border: 20px;
    border-radius: 40px;
    margin-left: 15%;
    margin-right: 15%;
    overflow: hidden;
}

.NewsPic {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 400px;
    min-height: 400px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 15%;
    right: 15%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    overflow: hidden;
    width: 70%;
    height: 0;
    transition: 2s ease-in-out;
    text-align: center;

}

.mySlides:hover .overlay {
    height: 40%;
    margin-bottom: 14%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.buttonslideshow1,
.buttonslideshow2 {
    height: 40px;
    width: 50px;
    display: block;
    position: absolute;
    top: 45%;
    font-weight: bold;
    border: 1px solid transparent;
    background-color: white;
    color: #B3D3C1;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;

}

.buttonslideshow1:hover,
.buttonslideshow2:hover {
    border: 1px solid transparent;
    background: #B3D3C1;
    color: white;
    transition: 0.5s;
}

.buttonslideshow1 {
    left: 5%;


}

.buttonslideshow2 {
    right: 5%;
}

.Caption {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    max-height: 40px;
    background-color: #86A789;
    font-weight: 600;
    font-family: sans-serif;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 100;
    /* Make sure it does not overlap */
    background-color: #86A789;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    /* Rounded corners */
    font-size: 20px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: grey;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/*Responsive Website*/

@media (max-width: 1300px) {
    .topcontent h1 {
        font-size: 40px;
        padding-top: 300px;
        font-weight: 700;
        font-family: 'Handlee';
    }

    .header-vid {
        top: 50%;
        right: 40%;
        z-index: 1000;
        background-color: transparent;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 50px;
        height: 100px;
        width: 100px;
    }

    .header-vid p {
        color: transparent;
        background-color: transparent;
    }

}

@media (max-width: 900px) {
    .header-vid {
        left: -10%;
        top: 77%;
        text-align: center;
        height: 20px;
        width: 70px;
    }

    .topcontent h1 {
        font-size: 40px;
        padding-top: 10px;
        font-weight: 700;
        font-family: 'Handlee';
    }

    .topcontent h2 {
        padding-top: 1px;
        color: #86A789;
        font-size: 50px;
    }

    .flex-container {
        flex-direction: column;

    }

    .leftcontent {
        width: 60%;
        margin: auto;
    }

    .slideshow {
        margin: auto;
        width: 65%;
    }
    .Caption{
        font-size: 15px;
    }
    .text{
        font-size: 15px;
    }
}
